@use "./partials/variables" as *;
@use "./partials/mixins" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
}

img {
    width: 100%;
    display: block;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;

    &:hover {
        text-decoration: underline;
    }
}

button:hover {
    cursor: pointer;
}

.button {
    display: inline-block;
    background-color: rgb(76, 124, 255);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;

    &:hover {
        text-decoration: none;
        cursor: pointer;
    }
}

.btn-delete {
    background-color: rgb(192, 61, 61);
}

table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
    }

    th {
        text-align: center;
    }
}

h1 {
    text-transform: uppercase;
    text-align: center;
    margin-block: 20px;
}

.grid-comics {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 50px;
    margin: 20px;

    .comic-box {
        width: calc((100% / 4) - 20px);

        h3 {
            margin-bottom: 10px;
        }

        figure {
            aspect-ratio: 1;
            margin-bottom: 15px;
            overflow: hidden;

            &:hover {
                cursor: pointer;
                filter: brightness(50%);
            }
        }
    }
}

.comic-description {
    display: flex;
    gap: 30px;
    margin: 20px;
    figure {
        width: 30%;
    }

    .comic-details {
        width: 70%;
        line-height: 25px;

        h2 {
            margin-bottom: 15px;
        }

        ul {
            margin-top: 15px;
        }
    }
}

body {
    font-family: Arial, sans-serif;
}

form {
    max-width: 500px;
    margin: auto;

    label {
        display: block;
        margin-bottom: 10px;
    }

    input[type="text"],
    textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    input[type="submit"] {
        border: none;
    }
}

.alert-box {
    background-color: lightpink;
    width: 70%;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    line-height: 25px;
}
